__*
sysbuild
*.sdf
*.suo
*.sln
*.opensdf
log.txt

extensions
support

tests
*.o
*.dylib
tmp
.DS_Store

package-info.json

build/
externals/

source/resonance_audio/third_party/android-cmake/
source/resonance_audio/third_party/googletest/
source/resonance_audio/third_party/ios-cmake/
